In [17]:
# Single month smaller period of time search trends data compiler. This allows you to access google search trends 
# data and then: export it to a database, export to csv, or export as json with vertices and edges 
##########################################################
import csv
import pandas as pd
import json
from json import JSONEncoder
from pandas import DataFrame
from pytrends.request import TrendReq
import numpy as np
# import time
# import ast

# Login to Google. Only need to run this once, the rest of requests will use the same session.
pytrend = TrendReq(hl='en-US', tz=360)

In [18]:
# List of search terms:

keyword = (['coronavirus'])
location = ('US-UT')
timeframe = ('2020-05-01 2020-05-30')

filename = ('monthdata.txt')

In [19]:
# Extract data from Google Trends:

# Create payload and capture API tokens.
pytrend.build_payload(keyword, cat=0, timeframe=timeframe,geo=location,gprop='')

# Create dataframe of interest over time
df = pytrend.interest_over_time()

#Format dataframe:
df = df.reset_index() 
df = df.reset_index()
df = df.drop(columns = ['date', 'isPartial'])
df.columns=['Date','Search Popularity']
df['Location'] = location

In [21]:
df

    Date  Search Popularity Location
0      0                 93    US-UT
1      1                 95    US-UT
2      2                100    US-UT
3      3                 95    US-UT
4      4                 91    US-UT
5      5                 90    US-UT
6      6                 89    US-UT
7      7                 84    US-UT
8      8                 97    US-UT
9      9                 84    US-UT
10    10                 87    US-UT
11    11                 71    US-UT
12    12                 79    US-UT
13    13                 80    US-UT
14    14                 76    US-UT
15    15                 77    US-UT
16    16                 68    US-UT
17    17                 75    US-UT
18    18                 61    US-UT
19    19                 67    US-UT
20    20                 67    US-UT
21    21                 60    US-UT
22    22                 69    US-UT
23    23                 64    US-UT
24    24                 73    US-UT
25    25                 66    US-UT
26    26                 66    US-UT
27    27                 55    US-UT
28    28                 49    US-UT
29    29                 44    US-UT

In [15]:
#EXPORTING TO DATABASE:
##########################################################
import sqlite3
from pandas import DataFrame

conn = sqlite3.connect('DATABASE.db')
c = conn.cursor()
conn.commit()

df.to_sql("Data",conn,if_exists='append', index = False)
conn.close()

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/pandas/core/generic.py:2653: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

In [5]:
# EXPORTING TO CSV FILE
##########################################################
df.to_csv('month_search_data')

In [16]:
# EXPORT AS JSON FILE WITH VERTICES/EDGES
##########################################################
# Create vertices: 
df_list = df.values.tolist()
vertices = { i : df_list[i] for i in range(0, len(df_list) ) }

# And edges:
edges = []
for i in range(1,len(df)):
    edge = [str(i-1),str(i)]
    edge = edges.append(edge)

finaldict = {"Data": { "Vertices": vertices, "Edges": edges}}
with open(filename, 'a+') as outfile:
    json.dump(finaldict, outfile)